<div th:fragment="headerCommon">
	<meta charset="utf-8" />
	<meta name="viewport"
		content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="" />
	<meta name="author" content="" />

	<title>Fwantastic</title>

	<!-- Bootstrap core CSS -->
	<link
		href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css"
		rel="stylesheet" />

	<!-- Multiple select -->
	<link
		href="https://cdnjs.cloudflare.com/ajax/libs/fastselect/0.7.3/fastselect.min.css"
		rel="stylesheet" />

	<!-- Code highlighter -->
	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/androidstudio.min.css" />

	<link href="/dev-community/dev-community.css" rel="stylesheet" />

</div>

<head th:fragment="header">
<div th:replace="common/header :: headerCommon"></div>
</head>

<head th:fragment="articleHeader">
<div th:replace="common/header :: headerCommon"></div>
<div th:replace="common/google :: googleAnalytics"></div>
</head>


