<div th:fragment="headerCommon">
	<meta charset="utf-8" />
	<meta name="viewport"
		content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="" />
	<meta name="author" content="" />

	<title>Fwantastic</title>

	<!-- Bootstrap core CSS -->
	<link
		href="/startbootstrap-blog-post/vendor/bootstrap/css/bootstrap.min.css"
		rel="stylesheet" />

	<!-- Custom styles for this template -->
	<link href="/startbootstrap-blog-post/blog-post.css" rel="stylesheet" />

	<!-- Multiple select -->
	<link
		href="https://cdnjs.cloudflare.com/ajax/libs/fastselect/0.7.3/fastselect.min.css"
		rel="stylesheet" />

	<!-- Code highlighter -->
	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/github-gist.min.css" />

	<link href="/dev-community/markdown.css" rel="stylesheet" />

	<style>
.fstElement {
	font-size: 0.8em;
}

.fstToggleBtn {
	min-width: 16.5em;
}

.submitBtn {
	display: none;
}

.fstMultipleMode {
	display: block;
}

.fstMultipleMode .fstControls {
	width: 100%;
}

.wordwrap {
	text-overflow: ellipsis;
	overflow: hidden;
}
</style>
</div>

<head th:fragment="header">
<div th:replace="common/header :: headerCommon"></div>
</head>

<head th:fragment="articleHeader">
<div th:replace="common/header :: headerCommon"></div>
<div th:replace="common/google :: googleAnalytics"></div>
</head>


