
<div class="text-center" th:fragment="pagination">

	<nav aria-label="Page navigation">
		<ul class="pagination">


			<div th:if="${page.hasPrevious()} == true">
				<li class="page-item"><a class="page-link"
					th:href="@{${page.url} + '?page=' + ${page.previousNumber} + '&amp;size=' + ${page.size}}"
					aria-label="Previous"> <span aria-hidden="true">Previous</span>
				</a></li>
			</div>

			<div th:each="pageItem: ${page.pageItems}">
				<li class="page-item"
					th:classappend="${pageItem.current} ? active : none"><a
					class="page-link"
					th:href="@{${page.url} + '?page=' + ${pageItem.actualNumber} + '&amp;size=' + ${page.size}}"
					th:text="${pageItem.number}"></a></li>
			</div>

			<div th:if="${page.hasNext()} == true">
				<li class="page-item"><a class="page-link"
					th:href="@{${page.url} + '?page=' + ${page.nextNumber} + '&amp;size=' + ${page.size}}"
					aria-label="Next"> <span aria-hidden="true">Next</span>
				</a></li>
			</div>

		</ul>
	</nav>

</div>