
<!-- jQuery -->
<script src="/sb-admin2/vendor/jquery/jquery.min.js"
	type="text/javascript"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/sb-admin2/vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="/sb-admin2/vendor/metisMenu/metisMenu.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="/sb-admin2/js/sb-admin-2.js"></script>

<!-- Simple Markdown Editor JavaScript -->
<script src="/simplemde/simplemde.min.js"></script>

<!-- Multiple select -->
<script src="/fastselect/fastselect.standalone.min.js"></script>

<!-- Markdown renderer -->
<script src="/showdown/showdown.min.js"></script>

<!-- Pagination -->
<script src="/twbs-pagination/jquery.twbsPagination.min.js"></script>


</body>

</html>