
<br />
<br />
<br />
<br />

<!-- Footer -->
<footer class="py-5 bg-dark">

	<!--Footer Links-->
	<div class="container">
		<div class="row">

			<!--First column-->
			<div class="col-md-6">
				<h5 class="title mb-4 mt-3 font-bold text-white">About
					Fwantastic.com</h5>
				<p class="text-white">미국에서 열심히 살아가는 1.5세 개발자의 블로그 입니다.
					공부 겸 개인 프로젝트로 Spring Boot + Hibernate + Bootstrap을 사용하여 만들었습니다.</p>

				<p class="text-white">자바로 개발을 하며 겪은 경험들과 문제들, 개발 관련 외에도 여러가지를 저
					혼자 뿐만 아니라 다른 분들과 공유하기 위하여 시작하게 되었습니다 :)</p>
			</div>
			<!--/.First column-->

			<hr class="clearfix w-100 d-md-none">

			<!--Second column-->
			<div class="col-md-6 mx-auto">
				<h5 class="title mb-4 mt-3 font-bold text-white">Links</h5>
				<div>
					<a href="https://okky.kr" target="_blank" class="text-info">OKKY
						- 자바 개발자 커뮤니티</a>
				</div>
			</div>
			<!--/.Second column-->

		</div>
	</div>
	<!--/.Footer Links-->

	<div class="container">
		<br />
		<br />
		<p class="m-0 text-center text-white">Copyright &copy; 2018
			Fwantastic.com, all rights reserved. 2018</p>
		<br />
		<br />
	</div>
	<!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="/startbootstrap-blog-post/vendor/jquery/jquery.min.js"></script>

<script
	src="/startbootstrap-blog-post/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


<!-- Simple Markdown Editor JavaScript -->
<script src="/simplemde/simplemde.min.js"></script>

<!-- Multiple select -->
<script src="/fastselect/fastselect.standalone.min.js"></script>

<!-- Markdown renderer -->
<script src="/showdown/showdown.min.js"></script>

<!-- Pagination -->
<script src="/twbs-pagination/jquery.twbsPagination.min.js"></script>
