<head>

<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>Fwantastic</title>

<!-- Bootstrap core CSS -->
<link
	href="/startbootstrap-blog-post/vendor/bootstrap/css/bootstrap.min.css"
	rel="stylesheet">

<!-- Simple Markdown Editor CSS -->
<link href="/simplemde/simplemde.min.css" rel="stylesheet">

<!-- Multiple select -->
<link href="/fastselect/fastselect.min.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="/startbootstrap-blog-post/blog-post.css" rel="stylesheet">

<style>
.fstElement {
	font-size: 0.8em;
}

.fstToggleBtn {
	min-width: 16.5em;
}

.submitBtn {
	display: none;
}

.fstMultipleMode {
	display: block;
}

.fstMultipleMode .fstControls {
	width: 100%;
}

.wordwrap {
	text-overflow: ellipsis;
	overflow: hidden;
}
</style>


<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async
	src="https://www.googletagmanager.com/gtag/js?id={{googleAnalyticsTrackingId}}"></script>
<script>
	window.dataLayer = window.dataLayer || [];
	function gtag() {
		dataLayer.push(arguments);
	}
	gtag('js', new Date());

	gtag('config', '{{googleAnalyticsTrackingId}}');
</script>


</head>