<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/header :: header"></head>

<body>

	<div th:replace="common/navigator :: navigator"></div>

	<!-- Page Content -->
	<div class="container">

		<div class="row">

			<!-- Post Content Column -->
			<div class="col-lg-8 wordwrap">

				<!-- Title -->
				<h1 class="mt-4">
					<th:block th:utext="${tag.tagName}" />
					<span class="float-right"> <a
						th:href="@{'/tags/' + ${tagId} + '/updateForm'}"
						class="btn btn-success clearfix">수정</a>
					</span>
				</h1>

				<hr />

			</div>

			<div th:replace="common/sidewidgets :: sidewidgets"></div>

		</div>
		<!-- /.row -->

	</div>
	<!-- /.container -->

</body>

<div th:replace="common/footer :: footer"></div>

</html>




