<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="/common/header :: header"></head>

<body>

	<div th:replace="/common/navigator :: navigator"></div>

	<!-- Page Content -->
	<div class="container">

		<div class="row">

			<!-- Post Content Column -->
			<div class="col-lg-8 wordwrap">

				<!-- Title -->
				<h3 class="mt-4">
					Tags <span class="float-right"><a href="/tags/createForm"
						class="btn btn-success clearfix">태그 만들기</a> </span>
				</h3>

				<hr />

				<div th:each="tag: ${page.content}">

					<h5>
						<a th:href="@{${page.url} + '/' + ${tag.tagId}}" class="text-dark"
							th:text="${tag.tagName}"></a>
					</h5>

					<hr />

				</div>

				<div th:replace="/common/pagination :: pagination"></div>

			</div>

			<div th:replace="/common/sidewidgets :: sidewidgets"></div>

		</div>
		<!-- /.row -->

	</div>
	<!-- /.container -->

</body>

<div th:replace="/common/footer :: footer"></div>

</html>