<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/header :: header"></head>

<body>

	<div th:replace="common/navigator :: navigator"></div>

	<!-- Page Content -->
	<div class="container">

		<div class="row">

			<!-- Post Content Column -->
			<div class="col-lg-8 wordwrap">

				<!-- Title -->
				<h1 class="mt-4">수정</h1>

				<hr />

				<form name="createUserForm" method="POST" action="/tags">
					<input type="hidden" name="_method" value="put" /> <input
						type="hidden" th:name="${_csrf.parameterName}"
						th:value="${_csrf.token}" /> <input type="hidden" name="tagId"
						th:value="${tag.tagId}" />

					<div class="form-group">
						<label for="userEmail">태그 이름</label> <input class="form-control"
							id="tagName" name="tagName" placeholder="태그 이름"
							th:value="${tag.tagName}" />
					</div>

					<button type="submit" class="btn btn-success clearfix float-right">저장</button>
					<div class="clearfix"></div>

					<hr />
				</form>

			</div>

			<div th:replace="common/sidewidgets :: sidewidgets"></div>

		</div>
		<!-- /.row -->

	</div>
	<!-- /.container -->

</body>

<div th:replace="common/footer :: footer"></div>

</html>
