{{> /include/header}}

<body>
	<div id="wrapper">

		{{> /include/navigation}}

		<div id="page-wrapper">
			<div class="row">
				<div class="col-lg-12">
					<h1 class="page-header">유저 목록</h1>
				</div>
				<!-- /.col-lg-12 -->
			</div>

			<!-- /.row -->
			<div class="row">
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">수정 - 이메일 클릭</div>

						<!-- /.panel-heading -->
						<div class="panel-body">
							<div class="table-responsive">
								<table class="table">
									<thead>
										<tr>
											<th class="col-md-1">#</th>
											<th class="col-md-2">닉네임</th>
											<th class="col-md-4">이메일</th>
											<th class="col-md-1">Status</th>
										</tr>
									</thead>
									<tbody>
										{{#users}}
										<tr>
											<td>{{userId}}</td>
											<td>{{userNickname}}</td>
											<td>
												<a href="/users/{{userId}}/updateForm">{{userEmail}}</a>
											</td>
											<td>{{status}}</td>
										</tr>
										{{/users}}
									</tbody>
								</table>
								<!-- /.table-responsive -->
							</div>
							<!-- /.panel-body -->
						</div>
						<!-- /.panel -->
					</div>
					<!-- /.col-lg-12 -->
				</div>
				<!-- /.row -->
			</div>
			<!-- /#page-wrapper -->
		</div>
		<!-- /#wrapper -->

		{{> /include/footer}}