<!DOCTYPE html>
<html lang="en">

{{> /include/header}}

<body>

	{{> /include/navigation}}

	<!-- Page Content -->
	<div class="container">

		<div class="row">

			<!-- Post Content Column -->
			<div class="col-lg-8 wordwrap">

				<!-- Title -->
				<h1 class="mt-4">글쓰기</h1>

				<hr>

				<form name="createUserForm" method="POST" action="/articles">
					<input type="hidden" name="{{_csrf.parameterName}}"
						value="{{_csrf.token}}" />

					<div class="form-group">
						<label for="userEmail">제목</label>
						<input class="form-control" id="title" name="title"
							placeholder="제목">
					</div>

					<div class="form-group">
						<label for="userEmail">Tags</label>

						<div class="">
							<select id="tagsArray" name="tagsArray" class="multipleSelect"
								multiple name="tagsArray">
								{{#allTags}}
								<option value="{{tagId}}">{{tagName}}</option>
								{{/allTags}}
							</select>
						</div>
					</div>

					<textarea name="contents" id="contents"></textarea>

					<button type="submit" class="btn btn-success clearfix float-right">저장</button>
					<div class="clearfix"></div>

					<hr>
				</form>

			</div>

			{{> /include/sidewidgets}}

		</div>
		<!-- /.row -->

	</div>
	<!-- /.container -->

</body>

{{> /include/footer}}

<script>
	var simplemde = new SimpleMDE({
		element : document.getElementById("contents"),
		spellChecker : false,
		renderingConfig : {
			codeSyntaxHighlighting : true,
		},
	});
</script>

<script type="text/javascript">
	$('.multipleSelect').fastselect();
</script>

</html>