<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/header :: header"></head>

<div th:replace="common/markdown :: markdownHeader"></div>

<body>

	<div th:replace="common/navigator :: navigator"></div>

	<!-- Page Content -->
	<div class="container">

		<div class="row">

			<!-- Post Content Column -->
			<div class="col-lg-6 wordwrap">

				<!-- Title -->
				<h1 class="mt-4">글쓰기</h1>

				<hr />

				<form name="createUserForm" method="POST" action="/articles">
					<input type="hidden" id="_csrf_token"
						th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

					<div class="form-group">
						<label for="userEmail">제목</label> <input class="form-control"
							id="title" name="title" placeholder="제목" />
					</div>

					<div class="form-group">
						<label for="userEmail">Tags</label>

						<div>
							<select multiple="multiple" name="tagsArray"
								class="multipleSelect">
								<th:block th:each="tag: ${allTags}">
									<option th:value="${tag.tagId}" th:text="${tag.tagName}" />
								</th:block>
							</select>
						</div>
					</div>

					<textarea class="form-control" name="contents" id="contents"
						rows="10"></textarea>

					<hr />

					<button type="submit" class="btn btn-success clearfix float-right">저장</button>
					<div class="clearfix"></div>

					<hr />

				</form>

			</div>

			<div class="col-lg-6 wordwrap">

				<!-- Title -->
				<h1 class="mt-4">미리보기</h1>

				<hr />

				<div id="preview"></div>
			</div>

		</div>
		<!-- /.row -->

	</div>
	<!-- /.container -->

</body>

<div th:replace="common/footer :: footer"></div>

<div th:replace="common/markdown :: markdownFooter"></div>

<div>
	<form>
		파일 추가하기 <input type="file" id="myFile" />
	</form>
	<button type="submit" class="btn btn-success clearfix float-right"
		id="MyButton">저장</button>
</div>

<script type="text/javascript">
	$('.multipleSelect').fastselect();
</script>

<script>
	$(document).ready(function() {
		$(function() {
			$("#MyButton").click(function() {
				var file = document.getElementById('myFile');

				var _csrf_token = $("#_csrf_token").val();

				console.log('token=' + _csrf_token)
				console.log(file.files[0])

				var form_data = new FormData();
				form_data.append('file', file.files[0]);
				$.ajax({
					data : form_data,
					type : "POST",
					headers : {
						'X-CSRF-Token' : _csrf_token
					},
					url : '/file',
					cache : false,
					contentType : false,
					enctype : 'multipart/form-data',
					processData : false,
				});
			});
		});
	});
</script>

</html>