<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/header :: header"></head>

<body>

	<div th:replace="common/navigator :: navigator"></div>

	<!-- Page Content -->
	<div class="container">

		<div class="row">

			<!-- Post Content Column -->
			<div class="col-lg-6 wordwrap">

				<form name="createUserForm" method="POST" action="/articles">
					<input type="hidden" id="_csrf_token"
						th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

					<!-- Title -->
					<h1 class="mt-4">글쓰기</h1>

					<hr />

					<div class="form-group">
						<label for="userEmail">제목</label> <input class="form-control"
							id="title" name="title" placeholder="제목" />
					</div>

					<div class="form-group">
						<label for="userEmail">Tags</label>

						<div>
							<select multiple="multiple" name="tagsArray"
								class="multipleSelect">
								<th:block th:each="tag: ${allTags}">
									<option th:value="${tag.tagId}" th:text="${tag.tagName}" />
								</th:block>
							</select>
						</div>
					</div>

					<textarea class="form-control" name="contents" id="contents"
						rows="30"></textarea>

					<hr />

					<button type="button" class="btn btn-info clearfix float-left"
						onclick="convertMarkdown();">미리보기</button>

					<button type="submit" class="btn btn-success clearfix float-right">저장</button>
					<div class="clearfix"></div>

					<hr />

				</form>

				<div>
					<input type="file" id="fileUpload" />
					<button type="button" class="btn btn-info clearfix float-right"
						id="fileUploadButton" onclick="uploadFile();">파일 업로드</button>

					<table style="width: 100%" id="fileUploadTable">
						<tr>
							<th>FileUploadId</th>
							<th>File Name</th>
						</tr>
					</table>
				</div>

			</div>

			<div class="col-lg-6 wordwrap">

				<!-- Title -->
				<h1 class="mt-4">미리보기</h1>

				<hr />

				<div id="preview"></div>
			</div>

		</div>
		<!-- /.row -->

	</div>
	<!-- /.container -->

</body>

<div th:replace="common/footer :: footer"></div>

<script type="text/javascript">
	$('.multipleSelect').fastselect();
</script>

</html>