<!DOCTYPE html>
<html lang="en">

{{> include/header}} {{> include/markdownHeader}}

<body>

	{{> include/navigation}}

	<!-- Page Content -->
	<div class="container">

		<div class="row">

			{{#article}}
			<!-- Post Content Column -->
			<div class="col-lg-8 wordwrap">

				<!-- Title -->
				<h1 class="mt-4">
					{{title}} {{#allowEdit}}
					<span class="float-right">
						<a href="/articles/{{articleId}}/updateForm"
							class="btn btn-success clearfix">수정</a>
					</span>
					{{/allowEdit}}
				</h1>

				<hr>

				<h4>
					{{#tags}}
					<span class="badge badge-primary">{{tagName}}</span>
					{{/tags}}
				</h4>

				<hr>

				<p>by {{createUser.userNickname}} | Last Updated:
					{{updateDatetimeString}}</p>

				<hr>

				<div id="preview"></div>

				<textarea style="display: none;" name="contents" id="contents">{{contents}}</textarea>

			</div>
			{{/article}}
			<!--  -->
			{{> include/sidewidgets}}

		</div>
		<!-- /.row -->

	</div>
	<!-- /.container -->

</body>

{{> include/footer}} {{> include/markdownFooter}}

<script type="text/javascript">
	$('.multipleSelect').fastselect();
</script>

</html>




