<!DOCTYPE html>
<html lang="en">

{{> /include/header}}

<body>

	{{> /include/navigation}}

	<!-- Page Content -->
	<div class="container">

		<div class="row">

			<!-- Post Content Column -->
			<div class="col-lg-8 wordwrap">

				<!-- Title -->
				<h3 class="mt-4">
					Articles {{#loggedInUser}}
					<span class="float-right">
						<a href="/articles/createForm" class="btn btn-success clearfix">글쓰기</a>
					</span>
					{{/loggedInUser}}
				</h3>

				<hr>

				{{#page}} {{#content}}

				<h5>
					<a href="{{url}}/{{articleId}}" class="text-dark">{{title}}</a>
				</h5>

				{{#tags}}
				<span class="badge badge-primary">{{tagName}}</span>
				{{/tags}}

				<p>by {{createUser.userNickname}} | Last Updated:
					{{updateDatetimeString}}</p>

				<hr>

				{{/content}}
				<!--  -->
				{{> /include/pagination}}
				<!--  -->
				{{/page}}

			</div>

			{{> /include/sidewidgets}}

		</div>
		<!-- /.row -->

	</div>
	<!-- /.container -->

</body>

{{> /include/footer}}

</html>