<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/header :: header"></head>

<body>

	<div th:replace="common/navigator :: navigator"></div>

	<!-- Page Content -->
	<div class="container">

		<div class="row">

			<!-- Post Content Column -->
			<div class="col-lg-6 wordwrap">

				<!-- Title -->
				<h1 class="mt-4">수정</h1>

				<hr />

				<form name="createUserForm" method="POST" action="/articles">
					<input type="hidden" name="_method" value="put" /> <input
						type="hidden" th:name="${_csrf.parameterName}"
						th:value="${_csrf.token}" /> <input type="hidden"
						name="articleId" th:value="${article.articleId}" />

					<div class="form-group">
						<label for="userEmail">제목</label> <input class="form-control"
							id="title" name="title" placeholder="제목"
							th:value="${article.title}" />
					</div>

					<div class="form-group">
						<label for="userEmail">Tags</label>

						<div>
							<select id="tagsArray" name="tagsArray" class="multipleSelect"
								multiple="multiple">
								<th:block th:each="tag: ${allTags}">
									<option th:value="${tag.tagId}" th:text="${tag.tagName}"
										th:selected="${article.tagExists(tag.tagId)}" />
								</th:block>
							</select>
						</div>
					</div>

					<textarea class="form-control" name="contents" id="contents"
						rows="30"><th:block th:utext="${article.contents}" /></textarea>

					<hr />

					<button type="button" class="btn btn-info clearfix float-left"
						onclick="convertMarkdown();">미리보기</button>

					<button type="submit" class="btn btn-success clearfix float-right">저장</button>
					<div class="clearfix"></div>

					<hr />
				</form>

				<div>
					<input type="file" id="fileUpload" />
					<button type="button" class="btn btn-info clearfix float-right"
						id="fileUploadButton" onclick="uploadFile();">파일 업로드</button>

					<table style="width: 100%" id="fileUploadTable">
						<tr>
							<th>FileUploadId</th>
							<th>File Name</th>
						</tr>
					</table>
				</div>

			</div>

			<div class="col-lg-6 wordwrap">

				<!-- Title -->
				<h1 class="mt-4">미리보기</h1>

				<hr />

				<div id="preview"></div>
			</div>

		</div>
		<!-- /.row -->

	</div>
	<!-- /.container -->

</body>

<div th:replace="common/footer :: footer"></div>

<script type="text/javascript" th:inline="javascript">
	$('.multipleSelect').fastselect();
</script>

</html>
