<!DOCTYPE html>
<html lang="en">

{{> include/header}}

<body>

	{{> include/navigation}}

	<!-- Page Content -->
	<div class="container">

		<div class="row">

			<!-- Post Content Column -->
			<div class="col-lg-8 wordwrap">

				<!-- Title -->
				<h3 class="mt-4">Contact Us</h3>

				<hr>

				<form name="contact-form" method="POST" action="/contactus">
					<input type="hidden" name="{{_csrf.parameterName}}"
						value="{{_csrf.token}}" />

					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<input type="email" class="form-control" name="email"
									autocomplete="off" id="email" placeholder="E-mail">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<input type="text" class="form-control" name="subject"
									autocomplete="off" id="subject" placeholder="Subject">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<textarea class="form-control textarea" rows="10" name="Message"
									id="Message" placeholder="Message"></textarea>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<button type="submit"
								class="btn btn-success clearfix float-right">Send a
								message</button>
						</div>
					</div>
				</form>
			</div>

		</div>
		<!-- /.row -->

	</div>
	<!-- /.container -->

</body>

{{> include/footer}}

</html>
